html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#wrapper {
  min-height: 100vh;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.ui-accordion {
  font-size: 0.8em;
  width: 100%;
  margin: 5px auto;
}
.ui-accordion .ui-accordion-content {
  padding: 0.3em 1em;
}
.ui-accordion .ui-accordion-header {
  padding: 0;
  height: 20px;
  border: none;
  color: black;
}
.ui-accordion .ui-accordion-header-icon {
  display: block;
  display: none;
  position: absolute;
  margin-top: 0;
}

#headertxt {
  line-height: 20px;
  height: 30px;
  min-width: 5px;
}

#imagebutton {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background: url('../images/edit-button.png') center center no-repeat;
  background-size: contain;
  position: relative;
  top: -2px;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
  border: none;
}

#progress {
  border-radius: 3px;
  background-color: #ddd;
  position: relative;
}
#bar {
  border-radius: 3px;
  border: none;
  background-color: #4caf50;
  height: 20px;
  color: #fff;
  width: 1%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}
#barlabel {
  border-radius: 3px;
  background-color: None;
  height: 20px;
  text-align: left;
  line-height: 20px;
  color: #fff;
  padding: 0;
  left: 1em;
  /* width: 100%;*/
  position: absolute;
}

body {
  height: 100%;
}

#header {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.5em;
  height: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white; /* #005599; */
  border-radius: 0px;
  background-color: #4caf50;
  /* https://cssgradient.io/ */
  background: linear-gradient(0deg, rgba(36,82,38,1) 0%, rgba(76,175,80,1) 100%);
}

#content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-sizing: border-box;
}

#buttons {
  margin-top: 5px;
}

#script {
  width: 100%;
  /* height: 250px; */
  /* 625 = 
   *   20 + 30 + 10 + 450 + 30 + 25 + 20 + 10 + 30
   */
  /* min-height: calc(100vh - 625px); */
  height: 100px;
  font-family: monospace;
  font-size: 10pt;
  line-height: 15px;
  box-sizing: border-box;
  padding: 0;
}

.ui-autocomplete {
  font-family: monospace;
  font-size: 10pt;
  line-height: 15px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-state-focus,
.ui-button.ui-state-active:hover {
	border: none!important;
	background: #ace3af;
	font-weight: normal;
	color: #ffffff;
}

.ui-menu .ui-menu-item-wrapper {
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
}

#videoContainer {
  color: white;
  width: 100%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  border: black solid 1px;
  box-sizing: border-box;
  overflow: hidden;
}

.preview {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  float: left;
}

.preview .title {
  width: 100%;
  position: relative;
  background-color: #333;
  color: #ddd;
}

.preview video {
  display: block;
  width: 100%;
}

.preview img {
  display: block;
  width: 100%;
}

#roundprogress {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 40%;
}

/* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
.preview .placeholder {
  width: 100%;
  background-color: black;
  padding-top: 75%;
  position: relative; /* needed for absolute positioning of scale pie */
}

#footer {
  font-size: 0.8em;
  text-align: center;
  color: #888;
  border-top: solid 1px #888;
  bottom: 5px;
  left: 10px;
  right: 10px;
  box-sizing: border-box;
  position: absolute;
}

#logo {
  float: left;
  top: 10px;
  position: -webkit-sticky;
  position: sticky;
  min-width: 100px;
  max-width: 150px;
  width: 12vw; /* 100 / (100 + 600 + 100) */
  display: block;
}

@media screen and (max-width: 850px) {
  #logo {
    display: none;
  }
}

