#dialog-settings form {
  font-size: 1.0em;
}

#dialog-settings form fieldset {
  margin-top: 5px;
}

#dialog-settings form fieldset legend {
  font-size: 0.8em;
}
#dialog-settings .number {
  width: 5em;
}
#dialog-settings .leftmargin {
  margin-left: 8px;
}
#dialog-settings .rightmargin {
  margin-right: 8px;
}
#dialog-newimage form {
  font-size: 1.0em;
}
#dialog-newimage .leftmargin {
  margin-left: 8px;
}
.ui-dialog.ui-widget {
  font-size: 0.8em;
}
.ui-widget-overlay.ui-front { /* you want this */
  background-color: black;
  opacity: 0.75;
}

/* queue dialog */
.ui-dialog-titlebar {
  /* display: none; */
  background: rgba(76, 175, 80, 1);
}
#bubbleoverlay {
  z-index: 1;
  opacity: 0.5;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
}
#imagecontainer {
  position: relative;
}
#imageoverlay {
  z-index: 2;
  opacity: 0.8;
  background-color: rgba(76, 175, 80, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  line-height: 60px;
}

