<html>

<head>
  <meta charset="UTF-8">
  <title>3DScript</title>
  <script src="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
  <script src="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <script src="{% static '3Dscript/3rdparty/textarea-caret-position.js' %}"></script>
  <link rel="stylesheet" href="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static '3Dscript/css/3Dscript.css' %}">
  <link rel="stylesheet" href="{% static '3Dscript/css/dialogs.css' %}">
</head>


<body>
  <img src="{% static '3Dscript/images/3DscriptLogo.png' %}" id="logo"></img>

  <div id="header">
    <span id="headertxt">{{ image_name }}</span>
    <button id="imagebutton"></button>
  </div>

  <div id="videoContainer"></div>

  <div id="accordion">
    <div id="progress">
      <div id="bar"></div>
      <div id="barlabel"> </div>
    </div>
    <div id="backtrace"></div>
  </div>

  <div style="width:600px; margin-left: auto; margin-right: auto;">
    <textarea id="script" name="script">
At frame 0 zoom by a factor of 0.9
From frame 0 to frame 200 rotate by 360 degrees horizontally</textarea>
    <div id="buttons">
      <button name="render-button" id="render-button" value="">Render</button>
      <button name="cancel-button" id="cancel-button" value="">Cancel</button>
      <button name="settings" id="settings" value="">Settings</button>
    </div>

    <div id="footer">
      &copy;Benjamin Schmid, Optical Imaging Centre Erlangen, University of Erlangen-Nuremberg
    </div>
  </div>


  <!-- new image dialog -->
  <div id="dialog-newimage" title="New image">
    <p class="validateTipsNewImage"> </p>
    <form>
      <label for="imageId">New image ID</label>
      <input type="number" name="imageId" id="imageId" value="{{imageId}}" class="leftmargin number ui-widget-content ui-corner-all">
    </form>
  </div>

  <!-- settings dialog -->
  <div id="dialog-settings" title="Settings">
    <p class="validateTips"> </p>
    <form>
      <fieldset>
        <legend>Output Size</legend>
        <input type="number" name="tgtWidth" id="tgtWidth" value="600" class="number ui-widget-content ui-corner-all">
        <span class="leftmargin rightmargin">x</span>
        <input type="number" name="tgtHeight" id="tgtHeight" value="450" class="number ui-widget-content ui-corner-all"><br>
      </fieldset>
      <fieldset>
        <legend>Bounding Box</legend>
        <input type="checkbox" name="bbswitch" id="bbswitch" value="BoundingBox" checked>Visible
        <label for="bbcolor" class="leftmargin">Color</label>
        <input type="color" id="bbcolor" name="bbcolor" value="#aaaaaa" style="vertical-align: bottom;" class="ui-widget-content ui-corner-all">
        <label class="leftmargin" for="bblinewidth">Line width</label>
        <input type="number" name="bblinewidth" id="bblinewidth" value="1.0" min="0.0" step="0.5" class="number ui-widget-content ui-corner-all">
      </fieldset>
      <fieldset>
        <legend>Scalebar</legend>
        <input type="checkbox" name="sbswitch" id="sbswitch" value="ScaleBar" checked>Visible
        <label for="sbcolor" class="leftmargin">Color</label>
        <input type="color" id="sbcolor" name="sbcolor" value="#ffffff" style="vertical-align: bottom;" class="ui-widget-content ui-corner-all">
        <label class="leftmargin" for="sblinewidth">Line width</label>
        <input type="number" name="sblinewidth" id="sblinewidth" value="1.0" min="0.0" step="0.5" class="number ui-widget-content ui-corner-all">
        <p>
          <label class="leftmargin" for="sblength">Length</label>
          <input type="number" name="sblength" id="sblength" value="100" min="0.0" step="0.1" class="number ui-widget-content ui-corner-all">
          <select name="sbposition" id="sbposition" class="leftmargin">
            <option>object - lower left front</option>
            <option>object - lower right front</option>
            <option>object - upper left front</option>
            <option>object - upper right front</option>
            <option>object - lower left back</option>
            <option>object - lower right back</option>
            <option>object - upper left back</option>
            <option>object - upper right back</option>
            <option selected>view - lower left</option>
            <option>view - lower right</option>
            <option>view - upper left</option>
            <option>view - upper right</option>
          </select>
          <label for="sboffset" class="leftmargin">Offset</label>
          <input type="number" name="sboffset" id="sboffset" value="10" min="0" class="number ui-widget-content ui-corner-all">
        </p>
        <!--input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all"-->
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>
  <script src="{% static '3Dscript/js/settings-dialog.js' %}"></script>
  <script src="{% static '3Dscript/js/image-dialog.js' %}"></script>
  <script src="{% static '3Dscript/js/3Dscript.js' %}"></script>
  <script src="{% static '3Dscript/js/autocomplete.js' %}"></script>
</body>
</html>
