<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3DScript</title>
  <script src="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
  <script src="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <script src="{% static '3Dscript/3rdparty/textarea-caret-position.js' %}"></script>
  <script src="{% static '3Dscript/3rdparty/svg.min.js' %}"></script>
  <link rel="stylesheet" href="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static '3Dscript/css/3Dscript.css' %}">
  <link rel="stylesheet" href="{% static '3Dscript/css/dialogs.css' %}">
</head>


<body>
  <div id="wrapper">

    <div id="header">
      <span id="headertxt">{{ image_name }}</span>
      <button id="imagebutton"></button>
    </div>
    <img src="{% static '3Dscript/images/3DscriptLogo.png' %}" id="logo">

    <div id="content">
      <div id="videoContainer">
      </div>

      <div id="accordion">
        <div id="progress">
          <div id="bar"></div>
          <div id="barlabel"> </div>
        </div>
        <div id="backtrace"></div>
      </div>

      <textarea id="script" name="script" rows="15">
At frame 0 zoom by a factor of 0.9
From frame 0 to frame 200 rotate by 360 degrees horizontally</textarea>
      <div id="buttons">
        <button name="render-button" id="render-button" value="">Render</button>
        <button name="cancel-button" id="cancel-button" value="">Cancel</button>
        <button name="settings" id="settings" value="">Settings</button>
      </div>

    </div> <!-- content -->
    <div id="footer">
    &copy;Benjamin Schmid, Optical Imaging Centre Erlangen, University of Erlangen-Nuremberg
    </div>
  </div>


  <!-- new image dialog -->
  <div id="dialog-newimage" title="New image">
    <p class="validateTipsNewImage"> </p>
    <form>
      <label for="imageId">New image ID</label>
      <input type="text" name="imageId" id="imageId" value="{{imageId}}" class="leftmargin number ui-widget-content ui-corner-all">
    </form>
  </div>

  <!-- settings dialog -->
  <div id="dialog-settings" title="Settings">
    <p class="validateTips"> </p>
    <form>
      <fieldset>
        <legend>Output Size</legend>
        <input type="number" name="tgtWidth" id="tgtWidth" value="600" class="number ui-widget-content ui-corner-all">
        <span class="leftmargin rightmargin">x</span>
        <input type="number" name="tgtHeight" id="tgtHeight" value="450" class="number ui-widget-content ui-corner-all"><br>
        <!--input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all"-->
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>

  <!-- queue dialog -->
  <div id="dialog-queue" title="Other processes are currently queued">
    <div id="imagecontainer">
      <img width=800 height=600 src="{% static '3Dscript/images/queue.png' %}">
      <svg id="bubbleoverlay" width="800" height="600">
        <g id="bgroup">
  background-color: rgba(76, 175, 80, 1);
          <ellipse id="bubble" cx="0" cy="0" rx="40" ry="25" stroke-width="0" fill="rgba(76, 175, 80, 1)"></ellipse>
          <text id="blabel" x="0" y="10" fill="white" text-anchor="middle">3</text>
        </g>
      </svg>
      <div id="imageoverlay">
        You are number X in line
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
  <script src="{% static '3Dscript/js/settings-dialog.js' %}"></script>
  <script src="{% static '3Dscript/js/image-dialog.js' %}"></script>
  <script src="{% static '3Dscript/js/queue.js' %}"></script>
  <script src="{% static '3Dscript/js/autocomplete.js' %}"></script>
  <script src="{% static '3Dscript/js/autogrow.js' %}"></script>
  <script src="{% static '3Dscript/js/3Dscript.js' %}"></script>
</body>
</html>
