<html>
<head>
  <meta charset="UTF-8">
  <title>3DScript</title>
  <script src="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
  <script src="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
  <link rel="stylesheet" href="{% static '3Dscript/3rdparty/jquery-ui-1.12.1/jquery-ui.css' %}">
  <script type="text/javascript">
    function resizeit() {
      var targetVideoWidth = $("#videoContainer")[0].clientWidth;
      var targetVideoHeight = $("#videoContainer")[0].clientHeight;
      console.log("tgtw = " + targetVideoWidth + " tgth = " + targetVideoHeight);
      var targetAspect = targetVideoWidth / targetVideoHeight;

      var previews = $("#preview");
      if(previews.length > 0) {
        var preview = previews[0];
        preview.addEventListener("loadedmetadata", function(e) {
          var videoWidth = this.videoWidth;
          var videoHeight = this.videoHeight;
          var aspect = videoWidth / videoHeight;
          if(aspect > targetAspect) {
            // keep width and let hight be adjusted automatically
            preview.width = targetVideoWidth;
          }
          else {
            // keep height and let width be adjusted automatically
            preview.height = targetVideoHeight;
          }
          console.log("videoWidth = " + videoWidth);
          console.log("videoHeight = " + videoHeight);
  
          console.log("videoWidth/videoHeight = " + (videoWidth / videoHeight));
        });
      }
    }

    function startRendering() {
      enableRenderingButton(false);
      $("#backtrace")[0].innerHTML = "";
      accordion.accordion("refresh");
      accordion.accordion("option", "active", false);
      $.ajax({
        url: '/omero_3dscript/startRendering',
        data: {
          script: $("#script")[0].value,
          targetWidth: $("#tgtWidth")[0].value,
          targetHeight: $("#tgtHeight")[0].value
        },
        dataType: 'json',
        success: function(data) {
          if(data.error) {
            setStateAndProgress('ERROR: ' + data.error.trim(), -1);
            enableRenderingButton(true);
          }
          else {
            var basename = data.basename;
            console.log(data.sessionId); // TODO remove again
            $('#bar').width(1 + '%');
            updateState(basename);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          console.debug("error in startRendering " + thrownError);
        }
      });
    }

    function setStateAndProgress(state, progress) {
      var pbar = $('#bar');
      var label = $('#barlabel');
      if(progress >= 0)
        // pbar.width(progress + '%');
        pbar.stop().animate({"width": progress + '%'}, 100); // .queue(function(){});
      if(state != null) {
        label[0].innerHTML = state;
        if(state.startsWith('ERROR')) {
          pbar.css({"background-color":"red"});
          label.css({"color":"black"});
          $("#backtrace")[0].innerHTML = "this is a very long backtrace";
          accordion.accordion("refresh");
          accordion.accordion("option", "active", 0);
        }
        else {
          pbar.css({"background-color":"#4caf50"});
          label.css({"color":"white"});
          $("#backtrace")[0].innerHTML = "";
          accordion.accordion("refresh");
          accordion.accordion("option", "active", false);
        }
      }
    }

    function enableRenderingButton(state) {
      $('#startRendering').prop("disabled", !state);
    }

    function updateState(basename) {
      setTimeout(function myTimer() {
        $.ajax({
          url: '/omero_3dscript/getStateAndProgress',
          data: {
            basename: basename
          },
          dataType: 'json',
          success: function(data) {
            console.debug(100 * data.progress);
            if(data.state.startsWith('ERROR')) {
              setStateAndProgress('ERROR', 100 * data.progress);
              enableRenderingButton(true);
            }
            else if (data.state.startsWith('FINISHED')) {
              createAnnotation(basename);
              enableRenderingButton(true);
            }
            else {
              setStateAndProgress(data.state, 100 * data.progress);
              updateState(basename);
            }
          }
        });
      }, 30);
    }

    function createAnnotation(basename) {
      setStateAndProgress('CREATE ATTACHMENT', 95);
      $.ajax({
          url: '/omero_3dscript/createAnnotation',
          data: {
            basename: basename,
            imageId: 1 // TODO replace with real id
          },
          dataType: 'json',
          success: function(data) {
            if(data.error) {
              setStateAndProgress('ERROR: ' + data.error.trim(), -1);
              enableRenderingButton(true);
            }
            else {
              annotationId = data.annotationId;
              console.debug('annotationId = ' + annotationId);
              $('#videoContainer')[0].innerHTML = `
  <video style="margin-left: auto; margin-right: auto; display: block; position: relative; top: 50%; transform: translateY(-50%);" id="preview" controls>
    <source src="/webclient/annotation/${annotationId}" type="video/mp4">
    Your browser doesn't support this video.
  </video>`.trim();
              resizeit();
              setStateAndProgress('FINISHED', 100);
            }
          }
      });
    }

    $(function() {
      var dialog, form,
      tgtWidth = $("#tgtWidth"),
      tgtHeight = $("#tgtHeight"),
      bbswitch = $("#bbswitch"),
      bbcolor = $("#bbcolor"),
      bblinewidth = $("#bblinewidth"),
      sbswitch = $("#sbswitch"),
      sbcolor = $("#sbcolor"),
      sblinewidth = $("#sblinewidth"),
      sblength = $("#sblength"),
      
      allFields = $( [] ).
        add(tgtWidth).
        add(tgtHeight).
        add(bbswitch).
        add(bbcolor).
        add(bblinewidth).
        add(sbswitch).
        add(sbcolor).
        add(sblinewidth).
        add(sblength);
      tips = $( ".validateTips" );

      function updateTips( t ) {
        tips
          .text( t )
          .addClass( "ui-state-highlight" );
        setTimeout(function() {
          tips.removeClass( "ui-state-highlight", 1500 );
        }, 500 );
      }

      function checkNumber(o, n, min) {
        var v = 0;
        var valid = true;
        try {
          v = parseFloat(o.val());
        } catch(error) {
          valid = false;
        }
        valid = valid && v >= min;

        if(!valid) {
          o.addClass("ui-state-error");
          updateTips(n + " must be a number >= " + min);
        }
        return valid;
      }

      function checkInteger(o, n, min) {
        var v = 0;
        var valid = true;
        try {
          v = parseInt(o.val());
        } catch(error) {
          valid = false;
        }
        valid = valid && v >= min;

        if(!valid) {
          o.addClass("ui-state-error");
          updateTips(n + " must be a whole number >= " + min);
        }
        return valid;
      }

      function verify() {
        var valid = true;
        allFields.removeClass( "ui-state-error" );
   
        valid = valid && checkInteger(tgtWidth, "Output width", 50);
        valid = valid && checkInteger(tgtHeight, "Output height", 50);
        valid = valid && checkNumber(bblinewidth, "Bounding box width", 0);
        valid = valid && checkNumber(sblinewidth, "Scalebar width", 0);
        valid = valid && checkNumber(sblength, "Scalebar length", 0);

        if(valid)
          dialog.dialog("close");
   
        return valid;
      }

      dialog = $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 400,
        width: 600,
        modal: true,
        show: {
          effect: "fade",
          duration: 500
        },
        hide: {
          effect: "fade",
          duration: 500
        },
        buttons: {
          "Close": verify,
          Cancel: function() {
            form[ 0 ].reset();
            dialog.dialog( "close" );
          }
        },
        close: function() {
          updateTips("");
          allFields.removeClass( "ui-state-error" );
        }
      });

      form = dialog.find("form").on("submit", function(event) {
        event.preventDefault();
        verify();
      });

      $("#settings").on( "click", function() {
        dialog.dialog( "open" );
      });

      accordion = $("#accordion").accordion({
        collapsible: true,
        active: false,
        animate: 200,
//        icons: {
//          "header": false, // "ui-icon-triangle-1-e",
//          "activeHeader": false //"ui-icon-triangle-1-s"
//        }
      });
    });


  </script>
</head>
<body>
  <h1>{{ image_name }}</h1>

  {{ macro }}
  {{ outfile }}

<div id="videoContainer" style="color: white; width: 600px; height: 450px; background-color: black; margin-left: auto; margin-right: auto;">
  {% if annotationId %}
  <video style="margin-left: auto; margin-right: auto; display: block; position: relative; top: 50%; transform: translateY(-50%);" id="preview" controls>
    <source src="/webclient/annotation/{{annotationId}}" type="video/mp4">
    Your browser doesn't support this video.
  </video>
  {% endif %}
</div>
  {% comment %}
  {% for z in z_indexes %}
  <img src="{% url 'webgateway.views.render_image' imageId z 0 %}"
    style="max-width: 200px; max-height:200px"/>
  {% endfor %}
  {% endcomment %}

<style>
.ui-accordion {
  font-size: 0.8em;
  width: 600px;
  margin: 5px auto;
}
.ui-accordion .ui-accordion-content {
  padding: 0.3em 1em;
}
.ui-accordion .ui-accordion-header {
  padding: 0;
  height: 20px;
  border: none;
  color: black;
}
.ui-accordion .ui-accordion-header-icon {
  display: block;
  display: none;
  position: absolute;
  margin-top: 0;
}
#progress {
  border-radius: 3px;
  background-color: #ddd;
  position: relative;
}
#bar {
  border-radius: 3px;
  border: none;
  background-color: #4caf50;
  height: 20px;
  color: #fff;
  width: 1%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}
#barlabel {
  border-radius: 3px;
  background-color: None;
  height: 20px;
  text-align: left;
  line-height: 20px;
  color: #fff;
  padding: 0;
  left: 1em;
  /* width: 100%;*/
  position: absolute;
}

#buttons {
  margin-top: 5px;
}
</style>
  <!--div style="border-radius: 3px; width: 600px; height: 20px; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 5px; background-color: #ddd; position: relative;" id="progress">
    <div id="bar" style="border-radius: 3px; background-color: #4caf50; height: 20px; text-align: center; line-height: 20px; color: #fff; width: 1%; padding: 0; position: absolute; left: 0px; top: 0px;"></div>
    <div id="barlabel" style="border-radius: 3px; background-color: None; height: 20px; text-align: left; line-height: 20px; color: #fff; left: 5px; width: 100%; position: absolute;"> </div>
  </div-->

  <div id="accordion">
    <div id="progress">
      <div id="bar"></div>
      <div id="barlabel">bla</div>
    </div>
    <div id="backtrace">
    </div>
  </div>

  <div style="width:600px; margin-left: auto; margin-right: auto;">
    {% spaceless %}
    <textarea id="script" style="width: 600px; height: 250px;" name="script">{% if s %}{{ s }}{% else %}
At frame 0 zoom by a factor of 0.9
From frame 0 to frame 200 rotate by 360 degrees horizontally
{% endif %}</textarea>
    {% endspaceless %}
  <div id="buttons">
    <button name="startRendering" id="startRendering" value="" onclick="startRendering()">Render</button>
    <button name="settings" id="settings" value="">Settings</button>
  </div>
  </div>


<style>
#dialog-form form {
  font-size: 0.8em;
}

#dialog-form form fieldset {
  margin-top: 5px;
}

#dialog-form form fieldset legend {
  font-size: 0.8em;
}
#dialog-form .number {
  width: 5em;
}
#dialog-form .leftmargin {
  margin-left: 20px;
}
#dialog-form .rightmargin {
  margin-right: 20px;
}
</style>


<div id="dialog-form" title="Settings">
  <p class="validateTips"> </p>
 
  <form>
    <fieldset>
      <legend>Output Size</legend>
      <input type="number" name="tgtWidth" id="tgtWidth" value="600" class="number ui-widget-content ui-corner-all">
      <span class="leftmargin rightmargin">x</span>
      <input type="number" name="tgtHeight" id="tgtHeight" value="450" class="number ui-widget-content ui-corner-all"><br>
    </fieldset>
    <fieldset>
      <legend>Bounding Box</legend>
      <input type="checkbox" name="bbswitch" id="bbswitch" value="BoundingBox" checked>Visible
      <label for="bbcolor" class="leftmargin">Color</label>
      <input type="color" id="bbcolor" name="bbcolor" value="#aaaaaa" style="vertical-align: bottom;" class="ui-widget-content ui-corner-all">
      <label class="leftmargin" for="bblinewidth">Line width</label>
      <input type="number" name="bblinewidth" id="bblinewidth" value="1.0" min="0.0" step="0.5" class="number ui-widget-content ui-corner-all">
    </fieldset>
    <fieldset>
      <legend>Scalebar</legend>
      <input type="checkbox" name="sbswitch" id="sbswitch" value="ScaleBar" checked>Visible
      <label for="sbcolor" class="leftmargin">Color</label>
      <input type="color" id="sbcolor" name="sbcolor" value="#aaaaaa" style="vertical-align: bottom;" class="ui-widget-content ui-corner-all">
      <label class="leftmargin" for="sblinewidth">Line width</label>
      <input type="number" name="sblinewidth" id="sblinewidth" value="1.0" min="0.0" step="0.5" class="number ui-widget-content ui-corner-all">
      <label class="leftmargin" for="sblength">Length</label>
      <input type="number" name="sblength" id="sblength" value="100" min="0.0" step="0.1" class="number ui-widget-content ui-corner-all">
 
      <!--input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all"-->
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

</body>
</html>
